<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/resources/css/site.css">
    <link rel="stylesheet" href="../static/resources/css/font-awesome.css">
    <script src="../static/resources/js/jquery-3.6.0.js"></script>
  
</head>
<body>
    <div class="main-wrapper">
        <nav class="side-navbar">
            <div class="side-menu-container">
                <a href="javascript:;" class="account-menu side-menu">
                    <i class="fas fa-users"></i>
                Account</a>    
            </div>
        <div class="side-menu-container">
            <a href="javascript:;" class="room-menu side-menu">
                <i class="fas fa-door-open"></i>
                Room</a>
        </div>
        
             <div class="side-menu-container">
            <a href="javascript:;" class="inventory-menu side-menu">
                <i class="fas fa-boxes"></i>
                Inventory</a>
        </div>
        
        <div class="side-menu-container">  
            <a href="javascript:;" class="roomService-menu side-menu">
                <i class="fas fa-broom"></i>
                Room Service</a>
        </div>

        <div class="side-menu-container">  
            <a href="javascript:;" class="reservation-menu side-menu">
                <i class="fas fa-scroll"></i>
                Reservation Log</a>
        </div>

        </nav>
        <header class="header-bar">
           
                <span class="user-role">Role</span>
                <div class="right-header">
                    <span class="name-job"><span class="name">Name,</span> <span class="job-title">Job Title</span></span>
                    <a href="javascript:;"> Change Password</a>
                    <a href="javascript:;"> Logout</a>
                </div>
           
          
        </header>
        <main class="main">
            <div class="main-content">
                <h1>WELCOME</h1>
            </div>
        </main>
    </div>
</body>
<div class="modal-layer">
</div>
<script src="../static/resources/js/administrator.js"></script>
<script src="../static/resources/js/inventory.js"></script>
<script src="../static/resources/js/room.js"></script>
</html>

